
<div id="MainOverlayContent">
    <div class="MainOverlay_Button" id="MainOverlay_Button">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
    <div class="MainOverlay_Background" id="MainOverlay_Mask" style="--overlay-size: 0%; display: none;">
        <div class="MainOverlay_CentralPlanet">
            <div class="CentralPlanet_OuterCircle">
                <div class="CentralPlanet_InnerCircleBase">
                    <div class="CentralPlanet_InnerCircleColor"></div>
                </div>
                <div class="CentralPlanet_Crater1"></div>
                <div class="CentralPlanet_Crater2"></div>
                <div class="CentralPlanet_Crater3"></div>
            </div>
        </div>
        <div class="MainOverlay_OrbitalPlanet">
            <div class="OrbitalPlanet_OuterCircle"></div>
        </div>
        <!-- <div class="MainOverlay_RandomMeteor c_blue">
            <img src="../../src/meteor.png"/>
        </div>
        <div class="MainOverlay_RandomMeteor c_red">
            <img src="../../src/meteor.png"/>
        </div>
        <div class="MainOverlay_RandomMeteor c_green">
            <img src="../../src/meteor.png"/>
        </div>
        <div class="MainOverlay_RandomMeteor c_yellow">
            <img src="../../src/meteor.png"/>
        </div> -->
    </div>
</div>
