
<div class="carrosselCompraMargin">
    <div class="carrosselCompraWrapper" id="carrosselCompraWrapper">
        <span class="carrosselCompraTitle">123</span>
        <div class="carrosselCompraDivisor"></div>
        <div class="carrosselCompraContentDiv">
            <div class="carrosselCompraContentArrowDiv">
                <div class="arrowButtonLeft"><</div>
            </div>
            <div class="carrosselCompraContentMain">
                <div class="carrosselCompraCard">
                    <div class="carrosselCompraCardRow imagem">
                        <img src="src/images/dummyProducts/pat1.webp" />
                    </div>
                    <div class="carrosselCompraCardRow title">
                        Patinete Elétrico Foston S10 Ultra 800w
                    </div>
                    <div class="carrosselCompraCardRow stars">
                        <div>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="carrosselCompraCardRow cost">
                        R$ 5.899,00
                    </div>
                    <div class="carrosselCompraCardRow button">
                        <a>COMPRAR</a>
                    </div>
                </div>
                <div class="carrosselCompraCard">
                    <div class="carrosselCompraCardRow"></div>
                    <div class="carrosselCompraCardRow"></div>
                    <div class="carrosselCompraCardRow"></div>
                    <div class="carrosselCompraCardRow"></div>
                    <div class="carrosselCompraCardRow"></div>
                </div>
            </div>
            <div class="carrosselCompraContentArrowDiv">
                <div class="arrowButtonArrow">></div>
            </div>
        </div>
    </div>
</div>