
.UniqueOverlayContainer{
    position: absolute;
    top: 0;
    left: 0;
    min-height: fit-content;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
}

.UniqueOverlayPage{
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
}