
#MainOverlayContent{
    position: relative;
    width: 100%;
    height: 100%;
    /* background-color: #d3d3d3; */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* z-index: 10; */
}

.MainOverlay_Button{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    color: white;
    top: 0;
    right: 0;
    z-index: 10;
    background-color: #0000;
    border-bottom-left-radius: 4px;
    transition: 150ms ease-in-out background-color;
}
.MainOverlay_Button:hover{
    background-color: #fff1;
    cursor: pointer;
}
.MainOverlay_Button i{
    position: absolute;
    font-size: 3em;
}

.MainOverlay_Background{
    position: absolute;
    z-index: 8;
    right: 0px;
    width: 100%;
    height: 100%;

    background-color: #4a4680;

    mask-image: 
        radial-gradient(circle at 97.6% 5%, white var(--overlay-size), transparent 0%);

    mask-repeat: no-repeat;
}