
.pageMenu_Wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
    height: 60px;
    width: 100%;

    border-bottom: 1px solid #00babb;

    background-color: #000000;
    color: #ffffff;
}

.pageMenu_subMenu_button{

}

.pageMenu_subMenu_button::after{
    
}