<div id="Page2Content">
    <div class="Page2_Background">
        <div class="Page2_StickerBackground">
            <!-- <div class="Page2_StickerWrapper" id="Sticker1" style="display: block;">
                <div class="Page2_Sticker"></div>
            </div>
            <div class="Page2_StickerWrapper" id="Sticker2" style="display: block; left: 40%">
                <div class="Page2_Sticker"></div>
            </div> -->
            <!-- <div class="Page2_StickerWrapper" id="Sticker2">
                <div class="Page2_Sticker"></div>
            </div> -->
            <div class="Page2_ContentWrapper">
                <div class="Page2_StickerCloseHeader" id="Page2_StickerCloseHeader">X</div>
                <div class="Page2_StickerTextHeader" id="Page2_StickerTextHeader"></div>
                <div class="Page2_StickerTextBody" id="Page2_StickerTextBody"></div>
            </div>
        </div>
    </div>
</div>
