<div id="PageInicialWrapper">
    <div class="pageInicialBackground">
        <div class="pageInicial_BackgroundMain">
            <h1 class="pageInicial_HeaderMain">123 Teste</h1>
            <div class="pangeInicial_divTerra">
                <img class="terraImage" src="../../src/earth.png"></img>
                <img class="luaImage" src="../../src/moon.png"></img>
            </div>
        </div>
    </div>
    <div class="pageInicialMask" id="pageInicialMask">
        <div class="pageInicial_BackgroundMask">
            <h1 class="pageInicial_HeaderMask">123 Teste</h1>
            
        </div>
    </div>
</div>