<div id="Page1Content">
    <div class="Page1_LeftDiv">
        <div class="Page1_Photo">
            <div class="Page1_PhotoBackground" id="Page1_PhotoBackground"></div>
            <div class="Page1_PhotoFrame" id="Page1_PhotoFrame">
                <img class="Page1_PhotoFrameImage" src="src/images/girl-8880144_640.png"></img>
            </div>
            <div class="Page1_MovableTelescope">
                <img class="Page1_Scope" id="Page1_Scope" src="src/images/scope256x256.png"></img>
                <img class="Page1_Legs" src="src/images/scopeLegs256x256.png"></img>
            </div>
        </div>
    </div>
    <div class="Page1_RightText" id="Page1_RightText">
        <div class="Page1_HeaderText Page1_TextBox">Olá! como vai! <span style="font-size: 2rem;">👋</span></div>
        <div class="Page1_SubText">
            <p class="Page1_TextBox">Você deve estar se perguntando quem sou eu!</p>
            <p style="text-align: left;" class="Page1_TextBox">
                Me chamo <a class="underlinedText">Daniel</a>! sou um engenheiro 🔧, um desenvolvedor Web ⚔️ e um entusiasmado por aprendizado e segurança 🛡️! Completei meu bacharelado de Engenharia de Computação na <a class="underlinedText">Universidade do Estado do Amazonas</a> e trabalho atualmente como desenvolvedor <a class="underlinedText">.NET</a> e <a class="underlinedText">Typescript</a>!
            </p>
            <p style="text-align: left;" class="Page1_TextBox">
                Gosto bastante de construir websites difícieis e componentes que consigam desafiar meu conhecimento! Estou sempre procurando aprender coisas novas!
            </p>
            <p style="text-align: left;" class="Page1_TextBox">
                Prazer em conhecer! 
            </p>
        </div>
    </div>
</div>
