<div id="PageInicialWrapper">
    <div class="pageInicialBackground" id="pageInicialBackground">
        <div class="pageInicial_BackgroundMain">
            <div class="pageInicial_HeaderMain" id="headerMain">
                <div id="headerMainChange">Hello!</div>
                <div id="headerMainTitle">Welcome!</div>
            </div>
            <div class="pageInicial_divPlanet" id="divPlanet">
                <!-- <img class="terraImage" src="../../src/earth.png"></img> -->
                <!-- <img class="luaImage" src="../../src/moon.png"></img> -->
                <img class="planetImage" src="../../src/saturn.png"></img>
            </div>
            <div class="pageInicial_flyingRocket">
                <img class="flyingRocket" src="../../src/foguete.gif">
            </div>
        </div>
    </div>
    <div class="pageInicialMask" id="pageInicialMask">
        <div class="pageInicial_BackgroundMask">
            <div class="pageInicial_HeaderMask" id="headerMask">
                <div id="headerMaskChange">Hello!</div>
                <div id="headerMaskTitle">Welcome!</div>
            </div>
        </div>
        <!-- <div class="pageInicial_MaskBottomTransition"></div> -->
    </div>
</div>