<div id="Page3Content">
    <div class="Page3Content_NavBarWrapper">
        <span class="Page3Content_NavBarText" id="Page3Content_NavBarText">
            <!-- <span class="Page3Content_NavBarIndividualText"></span> -->
            Coisas que fiz!
        </span>
        <div class="Page3Content_NavBarUnderline"></div>
    </div>
    <div class="Page3Content_PolaroidWrapper" id="Page3Content_PolaroidWrapper"></div>
    <div class="Page3Content_BottomBarWrapper" id="Page3Content_BottomBarWrapper"></div>
</div>
