<div id="PageSocialContent">
    <div class="PageSocial_Wrapper" id="PageSocial_Wrapper">
        <div class="PageSocialContent_Header">
            <div class="PageSocialContent_HeaderOverlay"></div>
            <div class="PageSocialContent_HeaderButton" id="GithubButton">
                <i class="fa fa-github-square" aria-hidden="true"></i>
            </div>
            <div class="PageSocialContent_HeaderButton" id="LButton">
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </div>
        </div>
        <div class="PageSocialContent_Content">
            <div class="PageSocialContent_Wrapper" id="Content_Github">
                <div class="PageSocialContent_ImageWrapper">
                    <img class="PageSocialContent_Image" src="src/images/github.jpg"></img>
                </div>
                <div class="PageSocialContent_ButtonDiv">
                    <div class="PageSocialContent_Button">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
