#UniqueScreenBackground{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #1a2b4d;
    overflow: hidden;
    display: flex;    
    z-index: -1;
    flex-direction: column;
}