#PageInicial{
    width: 100%;
    height: fit-content;
}

#PageInicialWrapper {
    position: relative;
    width: 100%;
    height: calc(100vh + 300px);
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
  }

.pageInicialBackground{
    position: relative;
    width: 100%;
    height: 100%;
}
.pageInicialMask{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100%;

    background-color: #000000;

    mask-image: 
        radial-gradient(circle at var(--x-position) var(--y-position), 
        transparent var(--circle-size1), white var(--circle-size1),
        white var(--circle-size2), transparent var(--circle-size2),
        transparent var(--circle-size3), white var(--circle-size3));

        /* radial-gradient(circle at 90% 82%, 
        transparent 13%, white 14%); */
    /* mask-composite: intersect; */

    /* mask-image: 
        radial-gradient(circle at var(--x-position) var(--y-position), 
        transparent 14%, white 14%,
        white 20%, transparent 20%,
        transparent 20.4%, white 20.4%); */
    mask-repeat: no-repeat;

}

.pageInicial_BackgroundMain{
    
    position: relative;
    width: 100%;
    height: 100%;
}
.pageInicial_HeaderMain{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: fixed;
    top: 16rem;
    /* left: 26%; */
    font-family: 'BebasNeue-Regular';
    font-weight: 600;
    font-size: 96px;
    background: radial-gradient(circle at center, white 1.7px, transparent 0);
    color: #0000;
    background-size: 6px 6px;
    -webkit-background-clip: text;
    background-clip: text;
}
#headerMainChange{
    width: 45%;
    direction: rtl;
}
#headerMainTitle{
    width: 55%;
}
.pageInicial_divTerra{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 232px;
    height: 232px;
    top: 45%;
    left: 46%;
    z-index: -1;
}
.planetImage{
    position: absolute;
}
.luaImage{
    position: absolute;
    animation: moonRotation 20s linear infinite none;
}

.pageInicial_flyingRocket{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
}


.pageInicial_BackgroundMask{
    position: relative;
    width: 100%;
    height: 100%;
}
.pageInicial_HeaderMask{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: fixed;
    top: 16rem;
    font-family: 'BebasNeue-Regular';
    font-weight: 600;
    font-size: 96px;
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 1px whitesmoke;
    animation: neon-purple 6s ease-in-out infinite alternate;
}
#headerMaskChange{
    width: 45%;
    direction: rtl;
}
#headerMaskTitle{
    width: 55%;
}

.pageInicial_MaskBottomTransition{
    height: 300px;
    background-color: #000000;
}

@keyframes neon-purple {
    from{
        text-shadow: 
            0 0 4px #420e29,
            0 0 10px #ff319bb9,
            0 0 30px #ff319bb9,
            0 0 50px #ff319bb9,
            0 0 70px #ff319bb9,
            0 0 90px #ff319bb9;
    }
    to{
        text-shadow:
            0 0 2px #420e29,
            0 0 5px #ff319bb9,
            0 0 15px #ff319bb9,
            0 0 25px #ff319bb9,
            0 0 35px #ff319bb9,
            0 0 45px #ff319bb9;
    }
}

@keyframes moonRotation {
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}

@font-face {
    font-family: "BebasNeue-Regular";
    src: url("../../../src/fonts/BebasNeue-Regular.ttf");
}