
/* >= 768PX */
@media (min-width: 768px) {
  #Page1Content{
    flex-direction: row;
    padding-left: 30px;
    padding-right: 30px;
  }
  .Page1_LeftDiv{
    width: 30%;
  }
  .Page1_Photo{
    width: 300px;
    height: 300px;
  }
  .Page1_MovableTelescope{
    right: -260px;
	  top: -90px;
    width: 256px;
    height: 256px;
  }
  .Page1_RightText{
    width: 70%;
    padding: 260px 120px 140px;
  }
}

/* <= 768PX */
@media (max-width: 767px) {
  #Page1Content{
    flex-direction: column;
  }
  .Page1_LeftDiv{
    width: 100%;
  }
  .Page1_Photo{
    left: calc(50% - 200px);
    width: 200px;
    height: 200px;
  }
  .Page1_MovableTelescope{
    right: -180px;
    top: -10px;
    width: 192px;
    height: 192px;
  }
  .Page1_RightText{
    width: 80%;
    padding: 40px 10% 140px;
  }

}

#Page1Content {
  position: relative;
  width: 100%;
  height: fit-content;
  background-color: #eeeeee;
  overflow: hidden;
  display: flex;
}

.Page1_LeftDiv{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 100px;
    height: 300px;
}

.Page1_Photo{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Page1_PhotoBackground{
	position: absolute;
	width: 112%;
	height: 102%;
	/* overflow: hidden; */
	transform: rotate(-6deg);
	background-color: white;
	z-index: 0;
}
.Page1_PhotoFrame{
	position: absolute;
	z-index: 3;
	width: 100%;
	height: 100%;
	transform: rotate(-2deg);
}
.Page1_PhotoFrameImage{
	z-index: 3;
	width: 100%;
	height: 100%;
}

.Page1_MovableTelescope{
	position: absolute;
	z-index: 4;
	/* right: -260px;
	top: -70px;
	width: 256px;
	height: 256px; */
}
.Page1_Scope{
	position: absolute;
	width: inherit;
	height: inherit;
	transform: rotateZ(-30deg);
}
.Page1_Legs{
	position: absolute;
	width: inherit;
	height: inherit;
}

.Page1_RightText{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Page1_HeaderText{
  	font-family: "Montserrat Black", sans-serif;
  	font-size: 32px;
  	font-weight: 700;
  	line-height: 56px;
  	letter-spacing: 0px;
  	text-align: center;
	-webkit-font-smoothing: antialiased;
}

.Page1_SubText{
    -webkit-font-smoothing: antialiased;
    font-family: Lato, sans-serif;
	font-size: 24px;
	line-height: 36px;
	text-align: center;
}

.Page1Content_Row {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}
.Page1Content_Column {
  width: 100%;
  height: 100%;
  padding-left: 30px;
  padding-right: 30px;
}
.Page1Content_Filler {
  width: 100%;
  height: 100%;
  background-color: white;

  border: 2px solid #b3b3b3;
  border-radius: 6px;

  transition: 400ms all ease-in-out;
  transform: translate(0px, 0px);
  opacity: 1;
}

.Page1Content_Filler.hidden {
  transform: translate(0px, -100px);
  opacity: 0;
}


.underlinedText {
    position: relative;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: #2a71ff;
    margin: 0px;
}

.underlinedText:hover {
    cursor: pointer;
}
    .underlinedText::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0%;
        width: 100%;
        height: 2px;
        background-color: #2a71ff;
        clip-path: inset(0 100%);
        opacity: 1;
        transition: opacity 200ms, transform 200ms, clip-path 300ms;
    }
    .underlinedText:hover::after,
    .underlinedText:focus::after {
        opacity: 1;
        clip-path: inset(0 0%);
    }